doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Cupboard Factory
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.1/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
    // Concatenated CSS
  body#page-top
    #faq-section.container
      .row
        .col-lg-4
          #faq-tabs.nav.nav-pills.faq-nav(role='tablist', aria-orientation='vertical')
            a.nav-link.active(href='#tab1', data-toggle='pill', role='tab', aria-controls='tab1', aria-selected='false')
              i.mdi.mdi-account
              |  Ordering
            a.nav-link(href='#tab2', data-toggle='pill', role='tab', aria-controls='tab2', aria-selected='false')
              i.mdi.mdi-account
              |  Shipping
            a.nav-link(href='#tab3', data-toggle='pill', role='tab', aria-controls='tab3', aria-selected='false')
              i.mdi.mdi-account-settings
              |  Assembly
            a.nav-link(href='#tab4', data-toggle='pill', role='tab', aria-controls='tab4', aria-selected='false')
              i.mdi.mdi-heart
              |  Product care
        .col-lg-8
          #faq-tab-content.tab-content
            #tab1.tab-pane.active(role='tabpanel', aria-labelledby='tab1')
              #accordion-tab-1.accordion
                .card
                  #accordion-tab-1-heading-1.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-1-content-1', aria-expanded='false', aria-controls='accordion-tab-2-content-1') How does ordering a new cupboard work?
                  #accordion-tab-1-content-1.collapse(aria-labelledby='accordion-tab-2-heading-1', data-parent='#accordion-tab-1')
                    .card-body
                      p
                        | The whole process is very simple. Simply shop around and select your cupboards from our range of Floor, Wall and Base Kitchen units, as well as out built in bedroom cupboards. Choose your product options (along with colour finish), and add the item to your cart. Checkout when you're all done!
                .card
                  #accordion-tab-1-heading-2.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-1-content-2', aria-expanded='false', aria-controls='accordion-tab-2-content-2') How do I choose my finishes?
                  #accordion-tab-1-content-2.collapse(aria-labelledby='accordion-tab-2-heading-2', data-parent='#accordion-tab-1')
                    .card-body
                      p
                        | All products can be ordered in our wide range of premium colour finishes. You will be able to select the colours when adding a product to your cart
            #tab2.tab-pane(role='tabpanel', aria-labelledby='tab2')
              #accordion-tab-2.accordion
                .card
                  #accordion-tab-2-heading-1.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-2-content-1', aria-expanded='false', aria-controls='accordion-tab-2-content-1') How much does shipping cost?
                  #accordion-tab-2-content-1.collapse(aria-labelledby='accordion-tab-2-heading-1', data-parent='#accordion-tab-2')
                    .card-body
                      p Shipping rates here
                .card
                  #accordion-tab-2-heading-2.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-2-content-2', aria-expanded='false', aria-controls='accordion-tab-2-content-2') Where does Cupboard Factory ship?
                  #accordion-tab-2-content-2.collapse(aria-labelledby='accordion-tab-2-heading-2', data-parent='#accordion-tab-2')
                    .card-body
                      p Shipping locations here
                .card
                  #accordion-tab-2-heading-3.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-2-content-3', aria-expanded='false', aria-controls='accordion-tab-2-content-3') When will I get my items?
                  #accordion-tab-2-content-3.collapse(aria-labelledby='accordion-tab-2-heading-3', data-parent='#accordion-tab-2')
                    .card-body
                      p Shipping times here
            #tab3.tab-pane(role='tabpanel', aria-labelledby='tab3')
              #accordion-tab-3.accordion
                .card
                  #accordion-tab-3-heading-1.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-3-content-1', aria-expanded='false', aria-controls='accordion-tab-3-content-1') How will I receive my new cupboards?
                  #accordion-tab-3-content-1.collapse(aria-labelledby='accordion-tab-3-heading-1', data-parent='#accordion-tab-3')
                    .card-body
                      p
                        | All cupboards are flat-pack shipped. This means they will arrive neatly packaged in a box with all the parts needed for assembly.
                .card
                  #accordion-tab-3-heading-2.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-3-content-2', aria-expanded='false', aria-controls='accordion-tab-3-content-2') How do I assemble the cupboards?
                  #accordion-tab-3-content-2.collapse(aria-labelledby='accordion-tab-3-heading-2', data-parent='#accordion-tab-3')
                    .card-body
                      p
                        | You will find a complete instruction booklet enclosed with each cupboard we ship. This contains a step by step instruction set that should get you up and running in no time.
                .card
                  #accordion-tab-3-heading-3.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-3-content-3', aria-expanded='false', aria-controls='accordion-tab-3-content-3') How difficult is assembly?
                  #accordion-tab-3-content-3.collapse(aria-labelledby='accordion-tab-3-heading-3', data-parent='#accordion-tab-3')
                    .card-body
                      p
                        | In a word- it's not. We ensured that every item can be put together without any DIY experience.
                .card
                  #accordion-tab-3-heading-4.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-3-content-4', aria-expanded='false', aria-controls='accordion-tab-3-content-4') Do I require any tools that are not supplied?
                  #accordion-tab-3-content-4.collapse(aria-labelledby='accordion-tab-3-heading-4', data-parent='#accordion-tab-3')
                    .card-body
                      p
                        | Some very basic tools like a 3mm philips screw driver and hammer is needed to put the items together. You will not need any power tools.
            #tab4.tab-pane(role='tabpanel', aria-labelledby='tab4')
              #accordion-tab-4.accordion
                .card
                  #accordion-tab-4-heading-1.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-4-content-1', aria-expanded='false', aria-controls='accordion-tab-4-content-1') How do I care for my cupboards?
                  #accordion-tab-4-content-1.collapse(aria-labelledby='accordion-tab-4-heading-1', data-parent='#accordion-tab-4')
                    .card-body
                      p Product care instructions here
                .card
                  #accordion-tab-4-heading-2.card-header
                    h5
                      button.btn.btn-link(type='button', data-toggle='collapse', data-target='#accordion-tab-4-content-2', aria-expanded='false', aria-controls='accordion-tab-4-content-2') Are some finishes more durable than others?
                  #accordion-tab-4-content-2.collapse(aria-labelledby='accordion-tab-4-heading-2', data-parent='#accordion-tab-4')
                    .card-body
                      p Explanation here
      // Custom scripts for this template
    |   {{ 'script.js' | asset_url | script_tag }}
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
