doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Cupboard Factory
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Nunito", rel="stylesheet")
    // Concatenated CSS
    link(href='css/stylesheet.css', rel='stylesheet')
  body#page-top
    //
      Navigation
      <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
      <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      </li>
      <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
      </ul>
      </nav>
    // Header
    .bg
    section.masthead
      //.container.text-center
      img.logo.mb-3(src="img/logo.png")
      //a.js-scroll-trigger.mt-3(href='#about')
        span.mr-2 Shop Now
        i.fa.fa-angle-right
      //.overlay
    // About
    section#about.about-section.content-section
      .container.text-center
        .row
          .col-lg-10.mx-auto
            h2 Simply stylish flat pack cupboards
            p.lead.mb-5
              | Browse our vast collection of quality items. We offer a complete inventory ranging from floor, wall and tall base kitchen units to full built in cupboards. Various accessories are also available to customize your dream interior.
            a.btn.btn-primary.btn-xl(href='https://startbootstrap.com/template-overviews/stylish-portfolio/') SHOP NOW
    // Services
    section#services.content-section.bg-light.text-black.text-center
      .container
        .content-section-heading
          h3.text-secondary.mb-0 Choose your own finish
          h2.mb-5 Now More Personal
        .row
          .col-lg-4.col-md-6.mb-5.mb-lg-0
            span.service-icon.rounded-circle.mx-auto.mb-3
              i.icon-screen-smartphone
            h4
              strong White Melamine
            p.text-faded.mb-0 Looks great on any screen size!
          .col-lg-4.col-md-6.mb-5.mb-lg-0
            span.service-icon.rounded-circle.mx-auto.mb-3
              i.icon-pencil
            h4
              strong Colour Melamine
            p.text-faded.mb-0 Freshly redesigned for Bootstrap 4.
          .col-lg-4.col-md-6.mb-5.mb-lg-0
            span.service-icon.rounded-circle.mx-auto.mb-3
              i.icon-pencil
            h4
              strong Supagloss
            p.text-faded.mb-0 Freshly redesigned for Bootstrap 4.
    // Callout
    section.callout
      .container.text-center
        h2.mx-auto.mb-5
          | Customize your cupboards with our</br>
          | range of quality accesories
        a.btn.btn-primary.btn-xl(href='https://startbootstrap.com/template-overviews/stylish-portfolio/') Browse Accesories
    // Portfolio
    section#portfolio.portfolio-section.content-section
      .container
        .content-section-heading.text-center
          h3.text-secondary.mb-0 products
          h2.mb-5 Complete Range
        .row.no-gutters
          .col-lg-6
            a.portfolio-item(href='#')
              span.caption
                span.caption-content
                  h2 Floor Units
                  p.mb-0 A yellow pencil with envelopes on a clean, blue backdrop!
              img.img-fluid(src='img/portfolio-1.jpg', alt='')
          .col-lg-6
            a.portfolio-item(href='#')
              span.caption
                span.caption-content
                  h2 Wall Units
                  p.mb-0 A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!
              img.img-fluid(src='img/portfolio-2.jpg', alt='')
          .col-lg-6
            a.portfolio-item(href='#')
              span.caption
                span.caption-content
                  h2 Tall Base Units
                  p.mb-0 Strawberries are such a tasty snack, especially with a little sugar on top!
              img.img-fluid(src='img/portfolio-3.jpg', alt='')
          .col-lg-6
            a.portfolio-item(href='#')
              span.caption
                span.caption-content
                  h2 Built in Cupboards
                  p.mb-0 A yellow workspace with some scissors, pencils, and other objects.
              img.img-fluid(src='img/portfolio-4.jpg', alt='')
    // Call to Action
    //section.content-section.bg-primary.text-white
      .container.text-center
        h2.mb-4 The buttons below are impossible to resist...
        a.btn.btn-xl.btn-light.mr-4(href='#') Click Me!
        a.btn.btn-xl.btn-dark(href='#') Look at Me!
    // Map
    section#contact.map
      iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A&output=embed')
      br
      small
        a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A')
    // Footer
    footer.footer.text-center
      .container
        ul.list-inline.mb-5
          li.list-inline-item
            a.social-link.rounded-circle.text-white.mr-3(href='#')
              i.icon-social-facebook
          li.list-inline-item
            a.social-link.rounded-circle.text-white.mr-3(href='#')
              i.icon-social-twitter
          li.list-inline-item
            a.social-link.rounded-circle.text-white(href='#')
              i.icon-social-github
        p.text-muted.small.mb-0 Copyright © Your Website 2019
    // Scroll to Top Button
    a.scroll-to-top.rounded.js-scroll-trigger(href='#page-top')
      i.fas.fa-angle-up
    // Custom scripts for this template
    //script(src='js/bundle.js')
